---
---

<a class={Astro.props.className} href={Astro.props.link}>{Astro.props.title}</a>

<style lang="scss">
  a {
    display: inline-block;
    border: none;
    border-radius: 6px;
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    color: #ffffff !important;
    padding: 6px 48px;
  }
  .blue {
    background-color: #019fdf;
  }
  .purple {
    background-color: #963d97;
  }
</style>
